<div class="createSubDiv">
  <mat-card class="createSubTitle">
    <mat-card-title>
      Create a new Subforum
    </mat-card-title>
  </mat-card>
  <form (ngSubmit)="onCreatePressed()" [formGroup]="createSubFormGroup">
    <mat-form-field>
      <div *ngIf="this.createSubFormGroup.get('name')?.dirty" class="form-errors">
        <p *ngIf="this.createSubFormGroup.get('name')?.hasError('required')">The name field is mandatory!</p>
      </div>
      <input type="text" name="name" placeholder="Name" formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <div *ngIf="this.createSubFormGroup.get('desc')?.dirty" class="form-errors">
        <p *ngIf="this.createSubFormGroup.get('desc')?.hasError('required')">The description field is mandatory!</p>
      </div>
      <input type="text" name="desc" placeholder="Description" formControlName="desc" matInput>
    </mat-form-field>

    <button class="create-btn" mat-flat-button>Create</button>
  </form>
</div>
